<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Федеративное обучение и его оценка с помощью существующих моделей и MLOps-инструментов</title>
    <meta> name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="g-image" sryle="background: linear-gradient(90deg, rgba(255,0,247,1) 15%, rgba(20,55,218,1) 41%, rgba(166,224,255,1) 45%, rgba(0,212,255,1) 61%, rgba(46,32,226,1) 80%, rgba(166,224,255,1) 84%, rgba(0,212,255,1) 92%);">
    <header>
        <nav class="navbar"
</body>
</html>